//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #28c76f;
$danger: #ff6961;
$warning: #fdfd96;
$info: #84b6f4;